DATABASE_URL=mysql+pymysql://user:pass@localhost:3306/tengai
REDIS_URL=redis://localhost:6379/0
JWT_SECRET=
AMZ_ACCESS_KEY=
AMZ_SECRET_KEY=
AMZ_PARTNER_TAG=
AMZ_PARTNER_TYPE=Associates
AMZ_MARKETPLACE=www.amazon.ae
AMZ_REGION=eu-west-1
AMZ_HOST=webservices.amazon.ae
SERPAPI_KEY=
OXYLABS_USERNAME=
OXYLABS_PASSWORD=
OXYLABS_SOURCE=amazon_product
OXYLABS_AMAZON_DOMAIN=ae
